{% extends "layout.twig" %}
{% block content %}

    <div class="container">

        <div class="template-content">

            <!-- Header Include -->
            {% include "includes/header.twig" %}

        </div>

    </div><!-- End Container -->

    {{widget('extendednavigation', 'navigation', {"align":"center"})|raw}}

    <!-- Theme Feature Widget -->

    {{widget('feature', 'featurehome', {
        "defaultBgImg": asset('images/feature-bg.jpg'),
        'positionTopPercentage': '0',
        'showBtn': false,
        "header": "profile",
        "strapline": "profile",
        buttonText: "Lorem Ipsum"
    })|raw}}

    <div class="container">

        <div class="template-content">

            <!-- Main Widget Zone -->
            {{zone('main')|raw}}

            <!-- Footer Include -->
            {% include "includes/footer.twig" %}

        </div>

    </div><!-- End Container -->


{% endblock %}
