<header class="bk-header">
	<div class="container">
		{{widget('logo', 'logo', {"defaultlogo": asset('images/discover-logo.png'),"showTplWidget":"0"})|raw}}
	    {{widget('companyname', 'header-companyname', {"business": "profile"})|raw}}
	    {{widget('extendednavigation', 'navigation', {})|raw}}
	</div><!--end container-->
</header><!--end header-->